@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import './styles/abstractions';
@import './styles/mixins';
@import "./styles/section-main";
@import "./styles/section-events";
@import "./styles/modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
